body {
    font-size: 24px;
    line-height: 32px;
}

.wrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    background-color: burlywood;
}

#PRO_pic {
    height: 250px;
    width: 250px;
}

.NAV-bar {
    top: 100%;
    width: 960px;
    margin: 0 auto;

}

.NAV-bar {
    clear: both;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 45px;
    background-color: teal;
    width: 33%;
    left: 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }