body {
    font-size: 24px;
    line-height: 32px;
}

header {
    background-color: gray;
    margin: 0px;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 960px;
    
}

h1 {
    background-color: teal;
    left: 100%;
}

ul {
    right: 100%;
}

.wrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    background-color: burlywood;
}

#PRO_pic {
    height: 250px;
    width: 250px;
}


